/* Copyright (c) 2025 Sam Flores */

#define LAYER_BASE    0
#define LAYER_NUMBER  1
#define LAYER_NAVIG   2
#define LAYER_FN      3
#define LAYER_POINTER 4
#define LAYER_SCROLL  5
#define LAYER_SNIPE   6
#define LAYER_QWERTY  7
#define LAYER_WIN_MGR 8
#define LAYER_MEDIA   9
#define LAYER_WEB     10
#define LAYER_TOOLS   11

#include <behaviors/mouse_keys.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>

&lt {
    tapping-term-ms = <150>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

&mt {
    tapping-term-ms = <150>;
    flavor = "tap-preferred";
    quick-tap-ms = <150>;
};

&caps_word { continue-list = <UNDERSCORE MINUS>; };

/ {
    behaviors {
        // Tap dance for DEL (tap) / Shift+DEL (double tap)
        td_del: tap_dance_del {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_DEL";
            #binding-cells = <0>;
            tapping-term-ms = <150>;
            bindings = <&kp DEL>, <&kp LS(DEL)>;
        };

        // Tap dance for TAB (tap) / CAPS (double tap)
        td_tab: tap_dance_tab {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_TAB";
            #binding-cells = <0>;
            tapping-term-ms = <150>;
            bindings = <&kp TAB>, <&kp CAPS>;
        };

        // Tap dance for ' (tap) / " (double tap)
        td_quot: tap_dance_quot {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_QUOT";
            #binding-cells = <0>;
            tapping-term-ms = <150>;
            bindings = <&kp SQT>, <&kp DQT>;
        };

        // Tap dance for / (tap) / \ (double tap)
        td_slsh: tap_dance_slsh {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_SLSH";
            #binding-cells = <0>;
            tapping-term-ms = <150>;
            bindings = <&kp SLASH>, <&kp BSLH>;
        };

        // Tap dance for ENTER (tap) / GUI+ENTER (double tap)
        td_ent: tap_dance_ent {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_ENT";
            #binding-cells = <0>;
            tapping-term-ms = <150>;
            bindings = <&kp ENTER>, <&kp LG(ENTER)>;
        };

        // Tap dance for PSCR (tap) / LS+PSCR (double tap)
        td_pscr: tap_dance_pscr {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_PSCR";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp PSCRN>, <&kp LS(PSCRN)>;
        };
    };

    // Combos for quick access
    combos {
        compatible = "zmk,combos";

        // Layer switching combo - toggles between BASE and QWERTY
        combo_layout_switch {
            timeout-ms = <50>;
            key-positions = <29 30>; // B + K (Colemak) or B + N (QWERTY) - same physical keys
            bindings = <&tog LAYER_QWERTY>;
        };

        // Parentheses combos
        combo_lprn {
            timeout-ms = <50>;
            key-positions = <31 32>; // M + COMM
            bindings = <&kp LPAR>;
        };

        combo_rprn {
            timeout-ms = <50>;
            key-positions = <32 33>; // COMM + DOT
            bindings = <&kp RPAR>;
        };

        // Bracket combos
        combo_lbrc {
            timeout-ms = <50>;
            key-positions = <7 8>; // L + U
            bindings = <&kp LBKT>;
        };

        combo_rbrc {
            timeout-ms = <50>;
            key-positions = <8 9>; // U + Y
            bindings = <&kp RBKT>;
        };

        // Accent combos (Right Alt + key combinations)
        combo_acute {
            timeout-ms = <50>;
            key-positions = <20 16>; // E + T
            bindings = <&kp RA(SQT)>;
        };

        combo_grave {
            timeout-ms = <50>;
            key-positions = <20 21>; // E + I
            bindings = <&kp RA(GRAVE)>;
        };

        combo_circ {
            timeout-ms = <50>;
            key-positions = <20 28>; // E + V
            bindings = <&kp RA(N6)>;
        };

        combo_tilde {
            timeout-ms = <50>;
            key-positions = <20 19>; // E + N
            bindings = <&kp RA(LS(GRAVE))>;
        };

        combo_cedil {
            timeout-ms = <50>;
            key-positions = <20 27>; // E + C
            bindings = <&kp RA(COMMA)>;
        };

        // One-shot layer combos
        combo_web {
            timeout-ms = <50>;
            key-positions = <22 2>; // O + W
            bindings = <&sl LAYER_WEB>;
        };

        combo_tools {
            timeout-ms = <50>;
            key-positions = <22 16>; // O + T
            bindings = <&sl LAYER_TOOLS>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // Base Layer - Colemak-DH with home row mods
        base_layer {
            label = "BASE";
            bindings = <
// ╭─────────────────────────────────────────────────────────────────────────────────────╮ ╭─────────────────────────────────────────────────────────────────────────────────╮
    &kp AMPS   &kp Q        &kp W        &lt LAYER_FN F  &kp P        &kp G                  &kp J        &kp L        &kp U        &kp Y        &kp SEMI     &td_quot
// ├─────────────────────────────────────────────────────────────────────────────────────┤ ├─────────────────────────────────────────────────────────────────────────────────┤
    &kp STAR   &mt LGUI A   &mt LCTRL R  &mt LALT S      &mt LSHFT T  &kp D                  &kp H        &mt RSHFT N  &mt RALT E   &mt RCTRL I  &mt RGUI O   &kp MINUS
// ├─────────────────────────────────────────────────────────────────────────────────────┤ ├─────────────────────────────────────────────────────────────────────────────────┤
    &kp BSLH   &kp Z        &kp X        &lt LAYER_POINTER C  &lt LAYER_WIN_MGR V  &kp B     &kp K  &kp M  &lt LAYER_POINTER COMMA  &kp DOT  &kp SLASH  &kp EQUAL
// ╰─────────────────────────────────────────────────────────────────────────────────────┤ ├─────────────────────────────────────────────────────────────────────────────────╯
    &kp LGUI   &kp LALT            &td_tab      &kp SPACE       &lt LAYER_NUMBER ESC         &lt LAYER_NAVIG BSPC  &lt LAYER_MEDIA ENTER          &kp DEL
//                                  ╰────────────────────────────────────────────────────╯ ╰──────────────────────────────────────────────────────────────────╯
            >;
        };

        // Number Layer
        number_layer {
            label = "NUM";
            bindings = <
// ╭────────────────────────────────────────────────────────────────────────────╮ ╭─────────────────────────────────────────────────────────────────────────────────╮
    &kp TILDE  &kp EXCL     &kp AT       &kp HASH     &kp DLLR     &kp PRCNT          &kp COMMA    &kp N7       &kp N8       &kp N9       &kp LBKT     &kp RBKT
// ├────────────────────────────────────────────────────────────────────────────┤ ├─────────────────────────────────────────────────────────────────────────────────┤
    &kp LT     &kp LGUI     &kp LCTRL    &kp LALT     &kp LSHFT    &none              &kp PLUS     &kp N4       &kp N5       &kp N6       &kp MINUS    &kp EQUAL
// ├────────────────────────────────────────────────────────────────────────────┤ ├─────────────────────────────────────────────────────────────────────────────────┤
    &kp GT     &kp CARET    &kp AMPS     &kp STAR     &kp UNDER    &td_quot           &kp STAR     &kp N1       &kp N2       &kp N3       &kp SLASH    &kp DOT
// ╰────────────────────────────────────────────────────────────────────────────┤ ├─────────────────────────────────────────────────────────────────────────────────╯
    &trans     &trans                       &none        &none        &trans          &kp BSPC     &kp N0                                 &trans
//                                       ╰──────────────────────────────────────╯ ╰──────────────────────────────────────────────────────────────╯
            >;
        };

        // Navigation Layer
        navig_layer {
            label = "NAV";
            bindings = <
// ╭────────────────────────────────────────────────────────────────────────────╮ ╭─────────────────────────────────────────────────────────────────────────────────╮
    &none      &none        &none        &none        &none        &none              &none        &none        &none        &none        &none        &none
// ├────────────────────────────────────────────────────────────────────────────┤ ├─────────────────────────────────────────────────────────────────────────────────┤
    &none      &kp LEFT     &kp UP       &kp DOWN     &kp RIGHT    &none              &none        &kp RSHFT    &kp RALT     &kp RCTRL    &kp RGUI     &none
// ├────────────────────────────────────────────────────────────────────────────┤ ├─────────────────────────────────────────────────────────────────────────────────┤
    &none      &kp HOME     &kp PG_UP    &kp PG_DN    &kp END      &kp INS            &td_pscr     &none        &none        &none        &none        &none
// ╰────────────────────────────────────────────────────────────────────────────┤ ├─────────────────────────────────────────────────────────────────────────────────╯
    &trans     &trans                      &kp DEL      &kp BSPC     &kp ESC          &trans       &none                                  &bt BT_CLR
//                                       ╰──────────────────────────────────────╯ ╰──────────────────────────────────────────────────────────────╯
            >;
        };

        // Function Layer - Layer 3
        fn_layer {
            label = "FN";
            bindings = <
// ╭────────────────────────────────────────────────────────────────────────────╮ ╭─────────────────────────────────────────────────────────────────────────────────╮
    &trans     &none        &none        &none        &none        &none              &trans       &kp F7       &kp F8       &kp F9       &kp F10      &trans
// ├────────────────────────────────────────────────────────────────────────────┤ ├─────────────────────────────────────────────────────────────────────────────────┤
    &trans     &none        &none        &none        &none        &none              &trans       &kp F4       &kp F5       &kp F6       &kp F11      &trans
// ├────────────────────────────────────────────────────────────────────────────┤ ├─────────────────────────────────────────────────────────────────────────────────┤
    &trans     &none        &none        &none        &none        &none              &trans       &kp F1       &kp F2       &kp F3       &kp F12      &trans
// ╰────────────────────────────────────────────────────────────────────────────┤ ├─────────────────────────────────────────────────────────────────────────────────╯
    &trans     &trans                    &trans       &trans       &trans             &trans       &trans                                 &trans
//                                     ╰────────────────────────────────────────╯ ╰──────────────────────────────────────────────────────────────╯
            >;
        };

        // Pointer Layer (Mouse/Trackball) - Layer 4 - TRACKBALL ACTIVATES THIS LAYER
        pointer_layer {
            label = "MOUSE";
            bindings = <
// ╭────────────────────────────────────────────────────────────────────────────╮ ╭─────────────────────────────────────────────────────────────────────────────────╮
    &none      &none        &none        &none        &none        &none              &none        &none        &none        &none        &none        &none
// ├────────────────────────────────────────────────────────────────────────────┤ ├─────────────────────────────────────────────────────────────────────────────────┤
    &none      &kp LGUI     &kp LCTRL    &kp LALT     &kp LSHFT    &none              &mkp MB4     &kp RSHFT    &kp RALT     &kp RCTRL    &kp RGUI     &none
// ├────────────────────────────────────────────────────────────────────────────┤ ├─────────────────────────────────────────────────────────────────────────────────┤
    &none      &none        &mo LAYER_SNIPE  &none    &mo LAYER_SCROLL  &none         &mkp MB5     &mo LAYER_SCROLL  &mo LAYER_SNIPE  &none  &none  &none
// ╰────────────────────────────────────────────────────────────────────────────┤ ├─────────────────────────────────────────────────────────────────────────────────╯
    &trans     &trans                    &mkp MCLK    &mkp LCLK    &mkp RCLK          &mkp LCLK    &mkp RCLK                              &trans
//                                     ╰────────────────────────────────────────╯ ╰──────────────────────────────────────────────────────────────╯
            >;
        };

        // Scroll Layer - Layer 5
        scroll_layer {
            label = "SCROLL";
            bindings = <
// ╭────────────────────────────────────────────────────────────────────────────╮ ╭─────────────────────────────────────────────────────────────────────────────────╮
    &trans     &trans       &trans       &trans       &trans       &trans             &trans       &trans       &trans       &trans       &trans       &trans
// ├────────────────────────────────────────────────────────────────────────────┤ ├─────────────────────────────────────────────────────────────────────────────────┤
    &trans     &trans       &trans       &trans       &trans       &trans             &trans       &trans       &trans       &trans       &trans       &trans
// ├────────────────────────────────────────────────────────────────────────────┤ ├─────────────────────────────────────────────────────────────────────────────────┤
    &trans     &trans       &trans       &trans       &trans       &trans             &trans       &trans       &trans       &trans       &trans       &trans
// ╰────────────────────────────────────────────────────────────────────────────┤ ├─────────────────────────────────────────────────────────────────────────────────╯
    &trans     &trans                    &trans       &trans       &trans             &trans       &trans                                 &trans
//                                     ╰────────────────────────────────────────╯ ╰──────────────────────────────────────────────────────────────╯
            >;
        };

        // Snipe Layer - Layer 6 (Precision pointer mode)
        snipe_layer {
            label = "SNIPE";
            bindings = <
// ╭────────────────────────────────────────────────────────────────────────────╮ ╭─────────────────────────────────────────────────────────────────────────────────╮
    &trans     &trans       &trans       &trans       &trans       &trans             &trans       &trans       &trans       &trans       &trans       &trans
// ├────────────────────────────────────────────────────────────────────────────┤ ├─────────────────────────────────────────────────────────────────────────────────┤
    &trans     &trans       &trans       &trans       &trans       &trans             &trans       &trans       &trans       &trans       &trans       &trans
// ├────────────────────────────────────────────────────────────────────────────┤ ├─────────────────────────────────────────────────────────────────────────────────┤
    &trans     &trans       &trans       &trans       &trans       &trans             &trans       &trans       &trans       &trans       &trans       &trans
// ╰────────────────────────────────────────────────────────────────────────────┤ ├─────────────────────────────────────────────────────────────────────────────────╯
    &trans     &trans                    &trans       &trans       &trans             &trans       &trans                                 &trans
//                                     ╰────────────────────────────────────────╯ ╰──────────────────────────────────────────────────────────────╯
            >;
        };

        // QWERTY Layer - Layer 7
        qwerty_layer {
            label = "QWRT";
            bindings = <
// ╭────────────────────────────────────────────────────────────────────────────╮ ╭─────────────────────────────────────────────────────────────────────────────────╮
    &kp AMPS   &kp Q        &kp W        &kp E        &kp R        &kp T              &kp Y        &kp U        &kp I        &kp O        &kp P        &td_quot
// ├────────────────────────────────────────────────────────────────────────────┤ ├─────────────────────────────────────────────────────────────────────────────────┤
    &kp STAR   &mt LGUI A   &mt LCTRL S  &mt LALT D   &mt LSHFT F  &kp G              &kp H        &mt RSHFT J  &mt RALT K   &mt RCTRL L  &mt RGUI SEMI  &kp MINUS
// ├────────────────────────────────────────────────────────────────────────────┤ ├─────────────────────────────────────────────────────────────────────────────────┤
    &kp BSLH   &kp Z        &kp X        &kp C        &kp V        &kp B              &kp N        &kp M        &kp COMMA    &kp DOT      &kp SLASH    &kp EQUAL
// ╰────────────────────────────────────────────────────────────────────────────┤ ├─────────────────────────────────────────────────────────────────────────────────╯
    &trans     &trans                    &td_tab      &kp SPACE    &lt LAYER_NUMBER ESC           &lt LAYER_NAVIG BSPC  &lt LAYER_MEDIA ENTER     &kp DEL
//                                     ╰────────────────────────────────────────╯ ╰──────────────────────────────────────────────────────────────╯
            >;
        };

        // Window Manager Layer - Layer 8
        win_mgr_layer {
            label = "WMGR";
            bindings = <
// ╭────────────────────────────────────────────────────────────────────────────╮ ╭─────────────────────────────────────────────────────────────────────────────────╮
    &trans     &none        &none        &none        &none        &none              &kp LG(K)    &kp LG(N7)   &kp LG(N8)   &kp LG(N9)   &trans       &trans
// ├────────────────────────────────────────────────────────────────────────────┤ ├─────────────────────────────────────────────────────────────────────────────────┤
    &trans     &none        &none        &none        &none        &none              &kp LG(J)    &kp LG(N4)   &kp LG(N5)   &kp LG(N6)   &kp LG(H)    &trans
// ├────────────────────────────────────────────────────────────────────────────┤ ├─────────────────────────────────────────────────────────────────────────────────┤
    &trans     &none        &none        &none        &none        &none              &kp LG(ENTER) &kp LG(N1)  &kp LG(N2)   &kp LG(N3)   &kp LG(L)    &trans
// ╰────────────────────────────────────────────────────────────────────────────┤ ├─────────────────────────────────────────────────────────────────────────────────╯
    &trans     &trans                    &trans      &kp LG(R)    &trans              &trans       &kp LG(N0)                             &trans
//                                     ╰────────────────────────────────────────╯ ╰──────────────────────────────────────────────────────────────╯
            >;
        };

        // Media Layer - Layer 9
        media_layer {
            label = "MEDIA";
            bindings = <
// ╭────────────────────────────────────────────────────────────────────────────╮ ╭─────────────────────────────────────────────────────────────────────────────────╮
    &trans     &none        &none        &none        &none        &none              &trans       &none        &none        &none        &none        &trans
// ├────────────────────────────────────────────────────────────────────────────┤ ├─────────────────────────────────────────────────────────────────────────────────┤
    &trans     &none        &none        &none        &none        &none              &trans       &kp C_PREV   &kp C_PP     &kp C_NEXT   &none        &trans
// ├────────────────────────────────────────────────────────────────────────────┤ ├─────────────────────────────────────────────────────────────────────────────────┤
    &trans     &none        &none        &none        &none        &none              &trans       &kp C_VOL_UP &kp C_VOL_DN &none        &none        &trans
// ╰────────────────────────────────────────────────────────────────────────────┤ ├─────────────────────────────────────────────────────────────────────────────────╯
    &trans     &trans                    &kp C_MUTE   &kp C_PP     &trans             &trans       &trans                                 &trans
//                                     ╰────────────────────────────────────────╯ ╰──────────────────────────────────────────────────────────────╯
            >;
        };

        // Web Layer (One-shot) - Layer 10
        web_layer {
            label = "WEB";
            bindings = <
// ╭────────────────────────────────────────────────────────────────────────────╮ ╭─────────────────────────────────────────────────────────────────────────────────╮
    &kp RG(RC(Q))  &trans   &trans       &kp RG(RC(F)) &trans      &trans             &trans       &trans       &trans       &trans       &trans       &trans
// ├────────────────────────────────────────────────────────────────────────────┤ ├─────────────────────────────────────────────────────────────────────────────────┤
    &trans     &trans       &trans       &trans       &trans       &trans             &trans       &trans       &trans       &trans       &trans       &trans
// ├────────────────────────────────────────────────────────────────────────────┤ ├─────────────────────────────────────────────────────────────────────────────────┤
    &trans     &trans       &trans       &kp RG(RC(C)) &trans      &trans             &trans       &trans       &trans       &trans       &trans       &trans
// ╰────────────────────────────────────────────────────────────────────────────┤ ├─────────────────────────────────────────────────────────────────────────────────╯
    &trans     &trans                    &trans       &trans       &trans             &trans       &trans                                 &trans
//                                     ╰────────────────────────────────────────╯ ╰──────────────────────────────────────────────────────────────╯
            >;
        };

        // Tools Layer (One-shot) - Layer 11
        tools_layer {
            label = "TOOLS";
            bindings = <
// ╭────────────────────────────────────────────────────────────────────────────╮ ╭─────────────────────────────────────────────────────────────────────────────────╮
    &trans     &kp RG(RC(W)) &trans      &kp RG(RC(M)) &trans      &trans             &trans       &trans       &trans       &trans       &trans       &trans
// ├────────────────────────────────────────────────────────────────────────────┤ ├─────────────────────────────────────────────────────────────────────────────────┤
    &trans     &trans       &trans       &trans       &trans       &trans             &trans       &trans       &trans       &trans       &trans       &trans
// ├────────────────────────────────────────────────────────────────────────────┤ ├─────────────────────────────────────────────────────────────────────────────────┤
    &trans     &trans       &trans       &trans       &kp RG(RC(V)) &kp RG(RC(B))     &trans       &trans       &trans       &trans       &trans       &trans
// ╰────────────────────────────────────────────────────────────────────────────┤ ├─────────────────────────────────────────────────────────────────────────────────╯
    &trans     &trans                    &trans       &trans       &trans             &trans       &trans                                 &trans
//                                     ╰────────────────────────────────────────╯ ╰──────────────────────────────────────────────────────────────╯
            >;
        };
    };
};
